#menu{
  background-color: gray;
  width: 100%;
  height: 10vh;
  margin: auto;
}

#chat{
  background-color: black;
  width: 100%;
  height: 60vh;
  color: white;
  overflow: auto;
}

#ichat{
  background-color: gray;
  width:100%;
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 35px;
}

#name{
  width: 10vw;
  font-size: 15px;
  border-radius: 50px;
  background-color: black;
  color: white;
}

#text{
  width:60vw;
  font-size: 15px;
  border-radius: 50px;
  background-color: black;
  color: white;
}

#send{
  height: 3vh;
  width: 3vh;
  background-image:url('https://share.google/iU1rZDij1R0AG85An') ;
  border-radius: 50px;
}